{% extends 'index.html' %}
{% block title %}{{ q }} - Pobail{% endblock title %}
{% block profile %}
{% if leader  %} {% url 'profile' leader.leader_id %}
{% else %}
{% url 'profile' member.member_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if leader %} {{leader.name}}
{% else %} {{member.name}}
{% endif %}
{% endblock user %}
{% block spaces %}
{% if leader %} {% url 'leaderSpaces' %}
{% else %}
{% url 'mySpaces' %}
{% endif %}
{% endblock spaces %}
{% block branches %}
{% url 'branches' %}
{% endblock %}
{% block allSpaces %} {% url 'spaces' %} {% endblock %}
{% block content %}
<div class="container">
   {% if spaces %}
   <div class="fs-5 text-muted py-2">
      Showing search results for <span class="text-primary">'{{ q }}'</span>
   </div>
   <div class="row gy-5">
      {% for space in spaces%}
      <!-- individual space starts -->
      <div class="col-sm-12 d-flex align-items-stretch justify-content-center">
         <div class="card shadow w-100">
            <div class="class-header text-center text-dark border-bottom bg-warning rounded">
               <h6 class="my-2"> Branch: {{space.branch}}</h6>
            </div>
            <div class="card-body d-flex flex-column align-items-center">
               <h5 class="card-title">{{space.branch}}-{{space.code}} : {{space.name}}</h5>
               {% if space.leader %}
               <p class="card-text">Space Leader : {{ space.leader.name}}</p>
               {% else %}
               <p> Leader not assigned</p>
               {% endif %}
               {% if not leader %}
               {% comment %} if member {% endcomment %}
               {% if space not in enrolled%}
               <a href="{% url 'access' space.code %}" class="btn btn-outline-success"><span
                  class="px-2">Access</span></a>
               {% else %}
               <a href="{% url 'space' space.code %}" class="btn btn-outline-success"><span
                  class="px-3">Enter</span></a>
               {% endif %}
               {% endif %}
            </div>
         </div>
      </div>
      <!-- individual space ends -->
      {% endfor %}
   </div>
   {% else %}
   <div class="fs-5 text-center text-muted"><svg  style="vertical-align: text-bottom;" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
    </svg> Could not find any results for <span
      class="text-primary">'{{ q }}'</span></div>
   {% endif %}
</div>

<script>
   $(document).ready(function () {
      $('h5').each(function () {
         var html = $(this).html();
         var regex = new RegExp('{{ q }}', 'gi');
         var newHtml = html.replace(regex, '<span class="text-primary">' + '{{ q }}' + '</span>');
         $(this).html(newHtml);
      });
   });
</script>
{% endblock  %}